<app-header></app-header>

<div class="container-fluid">
  <img class="big-img" src="https://t3.ftcdn.net/jpg/03/23/88/08/360_F_323880864_TPsH5ropjEBo1ViILJmcFHJqsBzorxUB.jpg"
    alt="">
</div>


<div class="card text-center">
  <div class="card-header">
    Featured
  </div>

  <div *ngFor="let item of game_list" class="col">
    <div class="card card-block align-items-center">
      <img src="{{item.cover}}" class="card-img-top card-img mt-2" alt="image">
      <div class="card-body">
        <h3 class="card-title">{{item.title}}</h3>
        <h5 class="card-title">{{item.art}}</h5>
        <h5 class="card-title">{{item.genre}}</h5>
        <p class="card-text">{{item.description}}</p>

        <p class="btn btn-primary">Release Date {{item.release_date}}</p>
        <!-- <a class="btn btn-primary">Release Date: {{item.release_date}}</a> -->
      </div>
    </div>
  </div>
  <!-- <div class="card-footer text-muted">
 
  </div> -->
</div>



<div class="text-center align-items-center mt-5 ml-5">

  <p class="btn btn-success">Relevant Searches</p>

</div>



<div class="container mt-5 mb-5">
  <div class="row row-cols-1 row-cols-md-3 g-4">

    <div *ngFor="let item of suggested_list" routerLink="/game-detail/{{item.title}}" class="col">
      <div class="card card-block align-items-center">
        <img src="{{item.cover}}" class="card-img-top card-img mt-2" alt="image">
        <div class="card-body align-items-center justify-content-center">
          <h3 class="card-title">{{item.title}}</h3>
          <p class="card-text"><strong>Art: </strong>{{item.art}}</p>
          <p class="card-text"><strong>Genre: </strong>{{item.genre}}</p>
          <p class="card-text"><strong>Release Date: </strong>{{item.release_date}}</p>
          <p class="card-text"><strong>Description: </strong>{{item.description}}</p>
        </div>

      </div>
    </div>

  </div>

</div>
